*.aux
*.dvi
*.bbl
*.blg
*.out
*.synctex.gz
report/*.log
report/report.gz
prolog/doc/*.log
prolog/sublime.sublime-workspace
prolog/config/*.properties
!prolog/config/database-example.properties
scripts/connection.properties
openshift/
prolog/doc/doc_full.idx
